@if (productoSubasta && (tipo === 'subasta' || tipo === 'ciega')) {
  <div id="producto">
    <div><h1>{{ productoSubasta.nombreArticulo }}</h1></div>
    <div id="img_detalles">
      <div>
        <img [src]="productoSubasta.imagen" alt="{{ productoSubasta.nombreArticulo }}">
      </div>
      <div id="detalles">
        <div>{{ 'Precio Base: ' + productoSubasta.precioInicial + '€' }}</div>
        <div>{{ productoSubasta.descripcion }}</div>
        <div>Creado por: {{ nombreUsuario }}</div>
      </div>
    </div>
  </div>
}



@if (productoSorteo && tipo === 'sorteo') {
  <div id="producto">
    <div><h1>{{ productoSorteo.nombreArticulo }}</h1></div>
    <div id="img_detalles">
      <div>
        <img [src]="productoSorteo.imagen" alt="{{ productoSorteo.nombreArticulo }}">
      </div>
      <div id="detalles">
        <div>{{ 'Puntos para participar: ' + productoSorteo.puntosNecesarios + ' puntos' }}</div>
        <div>{{ productoSorteo.descripcion }}</div>
        <div>Creado por: BidCo</div>
      </div>
    </div>
  </div>
}