#producto {
    display: flex;
    flex-direction: column; /* Organiza en columna primero */
}

/* Estilo del nombre */
#producto h1 {
    font-size: 200%;
    margin-bottom: 10px;
}

/* Imagen del producto */
#producto img {
    max-width: 400px;
    min-width: 400px; /* Tamaño fijo para la imagen */
    height: auto;
    border-radius: 8px;
    margin-right: 15px; /* Espaciado a la derecha de la imagen */
}

/* Contenedor de los detalles */
#img_detalles {
    display: flex;
    flex-direction: row;
}

#detalles {
    font-size: 120%;
    margin-left: 5%;
}

#detalles div{
    margin-bottom: 5%;
}
