<div id="producto">
    <div><h1>Reloj de bolsillo</h1></div>
    <div id="img_detalles">
        <div><img src="Reloj.jpg" alt="Reloj de bolsillo"></div>
        <div id="detalles">
            <div>Precio Base: 50€</div>
            <div><p>"Elegante y atemporal, este reloj de bolsillo combina artesanía clásica con precisión moderna. 
                Su diseño vintage, con una fina cadena y detalles grabados, lo convierte en un accesorio 
                sofisticado para cualquier ocasión." ⏱✨</p></div>
            <div>Creado por: Luis</div>
        </div>
    </div>
</div>
