<app-header></app-header>

<div class="profile-page-background">
  <div class="profile-container">
    
    <aside class="sidebar">
      <div class="sidebar-header">
        <h2>Mi Cuenta</h2>
      </div>
      <nav class="sidebar-nav">
        <ul>
          <li>
            <a routerLink="mis-datos" routerLinkActive="active">Mis Datos</a>
          </li>
          @if (!isExpert) {
            <li>
              <a routerLink="privacidad" routerLinkActive="active">Privacidad</a>
            </li>
            <li>
              <a routerLink="estadisticas" routerLinkActive="active">Mis Estadísticas</a>
            </li>
          }
        </ul>
      </nav>
    </aside>

    <main class="profile-content">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>

<app-footer></app-footer>