#cuerpo {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 2%;
}

app-product-details {
    max-width: 60%;
}

#puja-form {
    margin-top: 30%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 150%;
}

#puja-form h2{
    margin-top: 5%;
    margin-bottom: 5%;
}

#puja-form h4{
    margin-top: 5%;
    margin-bottom: 5%;
}

#puja-form input {
    width: 130%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5%;
}

#puja-form input::placeholder {
    color: #888; /* Color del placeholder */
}

#puja-submit {
    align-self: center;
}

#puja-submit button{
    background-color: #0d0063;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

#puja-submit button:hover {
    background-color: #09004b;
}


#expertos {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 10%;
}

#login-btn {
    align-self: center;
}

#login-btn a {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    background-color: #0d0063;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  
#login-btn a:hover {
    background-color: #0d0063;
}

#login-btn a:active {
    background-color: #0d0063;
}

#login-btn a:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt #c6dafc;
}

#expertos button{
    background-color: #0d0063;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    margin-top: 0.5%;
    margin-bottom: 1%;
    max-width: 15%;
}

#expertos button:hover {
    background-color: #09004b;
}

#expertos hr {
    max-width: 30%;
    margin-bottom: 1%;
}

#expertForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#expertForm form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1.5%;
    border-radius: 8px;
    width: 30%;
    height: 40%;
}

#expertForm form h2 {
    text-align: center;
    margin-bottom: 2%;
}

#expertForm form label {
    font-size: large;
}

#expertForm form textarea {
    height: 200%;
    margin-bottom: 2%;
}

#expertForm form div {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}