<app-header/>
<div>
  <div>
    <app-filter (filterChanged)="handleFilterApplied($event)"></app-filter>
  </div>
  <div id="subastas">
    <div id="top-items">
      <h1>Tus Pujas</h1>
      <a id="crear-subasta" routerLink="/create-auction">Crear Subasta</a>
    </div>
    <div id="items">
      @for (product of products; track product) {
        <div id="item">
          <a [routerLink]="[product.subastaNormal ? '/auction/product' : '/blind-auctions/product', product.subastaID]">
            <app-product-item [product]="product"></app-product-item>
          </a>
        </div>
      }
    </div>
  </div>
</div>
<app-footer/>