<!-- product.component.html -->
<app-header></app-header>
<div id="cuerpo">
    <app-product-details></app-product-details>
    <div >
        <form id="puja-form">
            <h3>Precio Actual:</h3>
            <h2>70€</h2>
            
            <input type="number" id="cantidad" name="cantidad" placeholder="Introduce tu puja" min="71" required>
            
            <button type="submit">Pujar</button>
        </form>
    </div>
</div>
<div id="expertos">
    <h1>Valoraciones de expertos</h1>
</div>
