<!-- product.component.html -->
<app-header></app-header>
<div id="cuerpo">
    <app-product-details></app-product-details>
    <div >
        <form id="puja-form">
            <div *ngIf="product">
                <h3>{{ isBlindAuction ? 'Subasta a Ciegas' : isRaffle ? 'Tus Puntos:' : 'Precio Actual:' }}</h3>
                <h2>{{ isBlindAuction ? null : isRaffle ? user.points : product.actual_price + '€' }}</h2>
                <input 
                    type="number" 
                    id="cantidad" 
                    name="cantidad" 
                    placeholder="{{ isRaffle ? 'Introduce número de puntos' : 'Introduce tu puja' }}" 
                    min="{{ product.actual_price }}" required>
            </div>
            
            <button type="submit">Pujar</button>
        </form>
    </div>
</div>
<div id="expertos" *ngIf="!isRaffle">
    <h1>Valoraciones de expertos</h1>
</div>
