<h2>Mis Datos</h2>

<!-- Mensajes -->
<div *ngIf="updateMessage" class="update-message">{{ updateMessage }}</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div class="form-container">
  <form (ngSubmit)="saveChanges()">
    <!-- Nombre de usuario -->
    <div class="form-group">
      <label for="nombreUsuario">Nombre de usuario</label>
      <input type="text" id="nombreUsuario" [(ngModel)]="user.nombreUsuario" name="nombreUsuario" required />
      <button type="button">Cambiar</button>
    </div>

    <!-- Correo -->
    <div class="form-group">
      <label for="correoElectronico">Correo</label>
      <input type="email" id="correoElectronico" [(ngModel)]="user.correoElectronico" name="correoElectronico" required />
      <button type="button">Cambiar</button>
    </div>

    <!-- Ciudad de Residencia -->
    <div class="form-group">
      <label for="ciudad">Ciudad de Residencia</label>
      <input type="text" id="ciudad" [(ngModel)]="user.ciudad" name="ciudad" required />
      <button type="button">Cambiar</button>
    </div>

    <!-- Código Postal -->
    <div class="form-group">
      <label for="codigoPostal">Código Postal</label>
      <input type="text" id="codigoPostal" [(ngModel)]="user.codigoPostal" name="codigoPostal" required />
      <button type="button">Cambiar</button>
    </div>

    <!-- Calle -->
    <div class="form-group">
      <label for="calle">Calle</label>
      <input type="text" id="calle" [(ngModel)]="user.calle" name="calle" required />
      <button type="button">Cambiar</button>
    </div>

    <!-- Número de Piso -->
    <div class="form-group">
      <label for="numeroPiso">Número de Piso</label>
      <input type="text" id="numeroPiso" [(ngModel)]="user.numeroPiso" name="numeroPiso" required />
      <button type="button">Cambiar</button>
    </div>

    <!-- Letra de Piso -->
    <div class="form-group">
      <label for="letraPiso">Letra de Piso</label>
      <input type="text" id="letraPiso" [(ngModel)]="user.letraPiso" name="letraPiso" />
      <button type="button">Cambiar</button>
    </div>

    <button type="submit" class="btn-save">Guardar Cambios</button>
  </form>

  <h3>Cambiar Contraseña</h3>
  <form (ngSubmit)="updatePassword()">
    <div class="form-group">
      <label for="currentPassword">Contraseña actual</label>
      <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required />
    </div>

    <div class="form-group">
      <label for="newPassword">Nueva Contraseña</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
    </div>

    <div class="form-group">
      <label for="confirmPassword">Repetir Contraseña</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </div>

    <button type="submit" class="btn-save">Guardar Cambios</button>
  </form>
</div>
