/* Estructura de formularios */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  
  .form-group label {
    width: 150px;
    font-weight: 600;
  }
  
  .form-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group button {
    padding: 8px 12px;
    border: none;
    background-color: #0d0063;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .form-group button:hover {
    background-color: #0d0063;
  }
  
  /* Botón de Guardar Cambios */
  .btn-save {
    margin-top: 1rem;
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .btn-save:hover {
    background-color: #218838;
  }

h2{
  margin-bottom: 3%;
}

h3{
  margin-top: 7.5%;
  margin-bottom: 3%;
}