<app-header/>
<div>
    <div>
        <app-filter></app-filter>
    </div>
    <div id="subastas">
        <div id="top-items">
            <h1>Tus Subastas</h1>
            <a id="crear-subasta" routerLink="/create-auction">Crear Subasta</a>
        </div>
        <div id="items">
            <div id="item" *ngFor="let product of products">
                <a [routerLink]="['/product', product.id]">
                    <app-product-item [product]="product"></app-product-item>
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer/>