<app-header></app-header>

<div class="container">
  <!-- Barra lateral -->
  <aside class="sidebar">
    <h2>Tu perfil</h2>
    <nav>
      <ul>
        <li>
          <a routerLink="/profile/profile-datos">Mis Datos</a>
        </li>
        <li>
          <a routerLink="/profile/profile-privacidad">Privacidad</a>
        </li>
        <li>
          <a routerLink="/profile/profile-estadisticas">Mis Estadísticas</a>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Contenido dinámico según la ruta -->
  <main class="profile-content">
    <router-outlet></router-outlet>
  </main>
</div>

<app-footer></app-footer>
