<app-header/>
<div>
  <div>
    <app-filter (filterChanged)="handleFilterApplied($event)"></app-filter>
  </div>
  <div id="sorteos">
    <div id="top-items">
      <h1>Sorteos Actuales</h1>
      @if (isLoggedIn && !isExpert) {
        <h2>Puntos actuales: {{ userPoints }}</h2>
      }
    </div>
    <div id="items">
      @for (product of products; track product) {
        <div id="item">
          <a [routerLink]="['/raffle/product', product.sorteoID]">
            <app-product-item [product]="product"></app-product-item>
          </a>
        </div>
      }
    </div>
  </div>
</div>
<app-footer/>