<app-header/>
<div>
    <div>
        <app-filter></app-filter>
    </div>
    <div id="subastas">
        <div id="top-items">
            <h1>Subastas Actuales</h1>
            <a id="crear-subasta" routerLink="/create-auction">Crear Subasta</a>
        </div>
        <div id="items">
            <a routerLink="/product">
                <app-product-item></app-product-item>
            </a>
            <a routerLink="/product">
                <app-product-item></app-product-item>
            </a>
            <a routerLink="/product">
                <app-product-item></app-product-item>
            </a>
            <a routerLink="/product">
                <app-product-item></app-product-item>
            </a>
            <a routerLink="/product">
                <app-product-item></app-product-item>
            </a>
             <a routerLink="/product">
                <app-product-item></app-product-item>
            </a>
        </div>
    </div>
</div>
<app-footer/>